.content {
  margin: auto;
  background: var(--fourth-color);
  display: block;
  position: relative;
  height: 100%;
  widht: 100%;
  top: 50px;
}

iframe {
  position: absolute;
  top: 39px;
  left: 0;
  width: 100%;
  height: 94%;
  border:0;
}
