<div class="content">
  <div class="card">
    <div class="containter">
      <p>
        Hi
      </p>
      <p>
        My name is Jesse Wood. I am student at Victora University studying towards a degree in Software Engineering.
      </p>
      <p>
        Provided the very rare cirumstance of not being snowed under by assignments, I enjoy to fill my free time with Classical
        Guitar, PC Gaming, Astrophysics and Canoe Polo.
      </p>
    </div>
    <img src="assets/images/tank.jpg" alt="Avatar" style="width:100%">
  </div>