<div class="content">
  <div class="card">
    <p>
      Hi
    </p>
    <p>
      My name is Jesse Wood. I am student at Victora University studying towards a degree in Software Engineering. I am familiar
      with, but by know means an expert in languages like:
    </p>
    <ul>
      <li>Bash</li>
      <li>C</li>
      <li>LaTeX</li>
      <li>Java</li>
      <li>HTML / CSS / JS (shite like this list)</li>
      <li>Python</li>
    </ul>
    <p>
      I have a dark sense of humour and nihilistic (watched too much Rick and Morty) life view. I'm passionate about freedom speech,
      internet privacy and scientific curiosity. The good thing about science is that it's true whether or not you believe
      in it.
    </p>
    <p>
      Provided the very rare cirumstance of not being snowed under by assignments, I enjoy to fill my free time with Classical
      Guitar, PC Gaming, Astrophysics and Canoe Polo.
    </p>
  </div>
</div>
