<div class="content">
  <div id="first" class="card" *ngFor="let projectitem of projects" [class.selected]="projectitem === selectedProject" (click)="onSelect(projectitem)">
    <img src="{{projectitem.image}}" alt="Avatar" style="width:100%">
    <div class="container">
      <h4>
        <b>{{projectitem.title}}</b>
      </h4>
      <p>{{projectitem.description}}</p>
    </div>
  </div>

  <div *ngIf="selectedProject">
    <h2>{{selectedProject.title | uppercase}} Details</h2>
    <div>
      <span>id: </span>{{selectedProject.description}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="selectedProject.title" placeholder="title">
      </label>
    </div>
  </div>
</div>
