.main-title {
  margin-top: 10px;
  color: var(--third-color);
  background-color: var(--fourth-color);
  position: fixed;
  left: 49%;
}

.logo-font {
  font-family: var(--logo-font);
  font-size: 20pt;
}

.sticky {
  background-color: var(--third-color);
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 20;
}

.nav {
  width: 100%;
  background: var(--fourth-color);
}

footer {
  background-color: #ddd;
  border-top: 1px solid #bbb;
  text-align: center;
}

.button a {
  text-decoration: none;
  background-color: var(--fourth-color);
  color: var(--third-color);
}

.button a:hover {
  color: var(--third-color);
  background-color: #8A2BE2; /* var(--background-colo); */
}
