<div class="content mdl-layout__content">
  <div *ngFor="let feature of features"  class="feature active mdl-typography--text-center" [style.background]="'url(' + feature.gif + ')'" [style.background-repeat]="'no-repeat'" [style.background-size]="'cover'" style="background-repeat: no-repeat" [style.background-position]="'center'">
    <div class="feature-font slogan">{{feature.title}}</div>
    <div class="feature-font sub-slogan">{{feature.description}}</div>
    <div class="feature-font github-link">
      <a routerLink="{{feature.link}}">
        <img src="{{feature.linkImage}}" height=20px width=20px>
        <b>See Also</b>
        {{feature.link}}
      </a>
    </div>
  </div>
</div>
