/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    top: 49px;
    padding: 50px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}