.title {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  margin: auto;
  background-color: whitesmoke;
}

::-webkit-scrollbar {
  display: none;
}

body,
html {
  background: #37474f;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}


