.title {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  margin: auto;
  background-color: whitesmoke;
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body,
html {
  background: #37474f;
}

.navbar-wrapper {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar-item {
  float: left;
}

.navbar-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-item a:link, .navbar-item a:visited {
  background-color: rgb(107, 107, 107);
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}

.navbar-item a:hover, .navbar-item a:active {
  background-color: #f44336;
  text-decoration: none;
}

.navbar-item a:active {
  background-color: #f44336;
  text-decoration: none;
}
