<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="title">
<h1 class="">{{title}}</h1>
  <ul class="navbar-wrapper">
    <li class="navbar-item"><a routerLink="/home">Home</a></li>
    <li class="navbar-item"><a routerLink="/projects">Projects</a></li>
    <li class="navbar-item"><a routerLink="/aboutme">About Me</a></li>
  </ul>
</div>
<router-outlet></router-outlet>
