<div class="content">
  <a name=""></a>
  <div class="card">
    <div class="">Hi, I'm Jesse</div>
    <div class="">Welcome to my portfolio of work</div>
    <div class="">
      <a href="">
        <img src="" height=20px width=20px>
        <b>See also</b> Github</a>
    </div>
    <a href="">
      <button class="">
        <i class="">expand_more</i>
      </button>
    </a>
  </div>
  <div class="card">
    <a name=""></a>
    <div class="">Speaking many languages</div>
    <div class="">
      <div class="">
        <a class="" href="">
          <img class="" src="">
        </a>
        <a class="" href="">C</a>
      </div>
      <div class="">
        <a class="" href="">
          <img class="" src="">
        </a>
        <a class="" href="">Java</a>
      </div>
      <div class="">
        <a class="" href="">
          <img class="" src="">
        </a>
        <a class="" href="">Python</a>
      </div>
      <div class="">
        <a class="" href="">
          <img class="" src="">
        </a>
        <a class="" href="">LaTeX</a>
      </div>
      <div class="">
        <a class="" href="">
          <img class="" src="">
        </a>
        <a class="" href="">Bash</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="">
      <div class="">
        <div class="">Learn more about me...</div>
        <p class="">
          My name is Jesse Wood. I am student at Victora University studying towards a degree in Software Engineering. I am familiar
          with, but by know means an expert...
        </p>
        <p>
          <a class="" routerLink="/aboutme">
            About Me&nbsp;
            <i class="">chevron_right</i>
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="">
      <div class="">The-Finding-of-I-Zack</div>
      <p class="">
        This is a sub-aquatic immersive 2D dungeon crawler that will sink your expectations to new depths.
        <br>
        <a href="" class="">View Source</a>
      </p>
    </div>
    <div class=""></div>
  </div>
  <footer class="card">
    <div class="">
      <div class="">
        <button class=""></button>
        &nbsp;
        <button class=""></button>
        &nbsp;
        <button class=""></button>
      </div>
      <div class="">
        <a class="" href="">
          Back to Top
          <i class="">expand_less</i>
        </a>
      </div>
    </div>

    <div class="">
    </div>
    <div class="">
      <a class="" id="">
        Social
        <i class="">arrow_drop_up</i>
      </a>
      <ul class="" for="">
        <li class="">Discord</li>
        <li class="">Snapchat</li>
        <li class="">Mail</li>
      </ul>
      <a class="" id="">
        For Developers
        <i class="">arrow_drop_up</i>
      </a>
      <ul class="" for="">
        <li class="">View Source</li>
        <li class="">Collaborate</li>
      </ul>
      <a class="" routerLink="/aboutme">About Me</a>
    </div>
  </footer>
</div>

<a href="" target="" id="" class="">View Source</a>
<script src=""></script>
