
<div class="content mdl-layout__content">
  <div class="feature mdl-typography--text-center" *ngFor="let ftr of features" [class.selected]="ftr === selectedFeature"
    (click)="onSelect(ftr)" [style.background]="'url(' + ftr.backgroundImage + ')'">
    <div class="feature-font slogan">
      {{ftr.title}}
    </div>
    <div class="feature-font sub-slogan">{{ftr.description}}</div>
    <div class="feature-font github-link">
      <a routerLink="{{ftr.link}}">
        <img src="{{ftr.linkImage}}" height=20px width=20px>
        <b>
          See Also
        </b>
        {{ftr.link}}
      </a>
    </div>
  </div>
</div>
<div class="project mdl-typography--text-center">
  <div class="project-slogan feature-font">
    My Projects
  </div>
    <app-projects></app-projects>
</div>



